<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
        </ul>    
    </div>
    <div class="eventcreation">
        <h1>Events</h1>
        <form action="newevent" method=POST>
            <input type="submit" value="New Event"></input>   
        </form><br>
    </div>
    <div class ="eventslist">
        <% if(data.events) { %>
            <% data.events.forEach(function(event) { %>
                Created by:<%= event.creator %><br>
                Name: <%= event.name %><br>
                Location: <%= event.location %><br>
                Description: <%= event.about %><br>
                Attending: <%= event.attendees %><br>
                <form action ="addattendance/<%= event._id %>?_method=POST" method="POST"><input type="submit" value="I'm attending"><br>
            <% }) %>    
        <% } else { %>
            <p>no events</p>
        <% } %>
    </div>
</body>